#voltar{
    background: url("images/reverse.png") no-repeat;
    border: none;
    height: 50px;
    padding: 5px;
    margin-left: 10px;
}
#voltar:hover {
    height: 60px;
    padding: 0px;
    margin-left: 10px;
}
body {
    background-image: url("images/bckgrnd-login.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}
header{
    width: 100%;
    background-color: #c71a20;
    color: white;
}
b{
    color: white;
    font-size: 30px;
    text-shadow: -2px 2px black;
    -webkit-text-stroke: 1px black;
    margin: 10px;
}
#resgistar{
    display: flex;
    align-self: flex-start;
}
fieldset{
    font-size: 25px;
    font-weight: bolder;
    border: 10px solid white;
    background-color: rgb(238, 204, 55);
    box-shadow: -10px 15px black;
    width: 50%;
    border-radius: 20px;
    margin: 60px;
}
form{
    color: #c71a20;
    text-shadow: -2px 2px black;
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 10px
}
input{
    border-radius: 10px;
    margin: 20px;
    width: 40%;
    padding: 10px;
}
#button{
    background: url("images/backcard2.png") no-repeat;
    border: none;
    height: 15vh;
    margin: 0px;
    margin-left: 200px;
    transition-timing-function: linear;
}
#button:hover{
    background: url("images/cards.png") no-repeat;
    border: none;
    height: 15vh;
    margin: 0px;
    margin-left: 170px;
    transition-timing-function: linear;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c71a20;
    color: #ffffff;
    height: 10vh;
    width: 100%;
    text-align: center;
    padding: 1em;
}