body {
    background-image: url("images/bckgrnd-login.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
}
header{
    width: 100%;
    background-color: #c71a20;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
fieldset{
    display: flex;
    flex-direction: row;
    border: 10px solid white;
    background-color: rgb(238, 204, 55);
    box-shadow: -10px 15px black;
    margin: 25px;
    width: 50%;
    border-radius: 20px;
}
form{
    color: black;
    display: flex;
    flex-direction:column;
    padding: 10px
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}